.image {
  /* width: 200px;
  height: 150px; */
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.image:not(:first-child) {
  margin-left: -200px; /* Adjust for image width */
}

.image.active {
  transform: translateX(0) scale(1);
}

.image.prev {
  transform: translateX(-200px) scale(0.85); /* Adjust for image width and scale */
}

.image.next {
  transform: translateX(200px) scale(0.85); /* Adjust for image width and scale */
}