@tailwind base;
@tailwind components;
@tailwind utilities;


.input-container {
    /* position: relative; */
    height: 50px;
    width: 50%;
    border: 1px solid lime;
}

.wide-input-container {
    /* position: relative; */
    height: 50px;
    width: 100%;
    /* border: 1px solid green; */
}

.big-input-container {
    position: relative;
    height: 80px;
    width: 100%;
    /* border: 1px solid fuchsia; */
}

.big-input-container textarea {
    color: #aaa;
    font-weight: 600;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    border: 1px solid #aaa;
}

.wide-input-container input,
.input-container input {
    outline: none;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff40;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    color: #aaa;
    font-weight: 500;
}

.dateField {
    outline: none;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff40;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    color: whitesmoke;
}

.input-container textarea {
    outline: none;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    border: 1px solid #ffffff40;
}

.label {
    padding: 0px 15px;
    position: absolute;
    left: 0%;
    top: 20%;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 1rem;
    color: #aaa;
}

.big-input-container textarea:valid~.label,
.big-input-container textarea:focus~.label {
    color: #00dfc4;
    transform: translateX(20px) translateY(-27px);
    transition: 400ms;
    background-color: #1d2b3a;
    font-size: 0.75rem;
    padding: 0px 5px;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.wide-input-container:focus~.label,
.wide-input-container :valid~.label,
.input-container input:valid~.label,
.input-container input:focus~.label {
    color: #00dfc4;
    transform: translateX(10px) translateY(-20px);
    transition: 400ms;
    background-color: #1d2b3a;
    font-size: 0.75rem;
    padding: 0px 5px;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2rem;
    font-weight: 400;
}



.date-picker-container {
    position: relative;
    /* width: 200px;
    margin: 20px; */
    border: 1px solid #1d2b3a;
    border-radius: 5px;
}

.date-picker-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    pointer-events: none;
    color: #aaa;
    text-transform: uppercase;
}

.date-picker-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1d2b3a;
    color: #aaa;
    font-weight: 600;
}



.date-picker-input:focus+.date-picker-label,
.date-picker-label-active {
    color: #00dfc4;
    padding: 0px 10px;
    top: 0;
    transform: translateY(-70%);
    background-color: #1d2b3a;
    font-size: 0.75rem;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2rem;
}

.swal-container {
    z-index: 300000;
}

.lowModal {
    z-index: 10 !important
}

.custom-ribbon {
    left: 5px !important;
    width: 80px;
}

.activeRoleButton{
    color: #00dfc4;
}

.roleButton{
    color: #71717a;
}

.input-box{
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    outline: none;
    background-color: inherit;
}



/* media queries for responsive dessign */

/* ------------  Mobiles ------------- */

@media screen and (max-width:600px) {

    .custom-ribbon {
        left: 25px !important;
        width: 80px;
    }

    .input-container {
        position: relative;
        height: 50px;
        width: 98%;
        /* border: 1px solid lime; */
    }
    
}



/* ------------ Tablets -------------- */

@media only screen and (max-width : 778px){

    .custom-ribbon {
        left: 34px !important;
        width: 80px;
    }

}